body {
	background-color: black;
	font-family: Verdana;
	color: white;
}

header {
	text-align: center;
}

h1 {
	font-size: 50px;
}

a {
	font-size: 16px;
	color: aquamarine;
}

section.contents {
	text-align: center;
}

h2 {
	font-size: 42px;
	font-weight: 300;
}

p {
	color: grey;
	font-size: 21px;
}
